* {
  box-sizing: border-box;
  font-size: 45px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  transition: 0.5s ease-in-out;
}

.split {
  flex: 1; /* Both sections initially take equal width */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  transition: flex 0.5s ease-in-out; /* Smooth transition */
}

h1,
.btn {
  z-index: 1;
}

.btn {
  font-size: 20px;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.btn:hover {
  background-color: blue;
  border: 0px;
}

/* Background images */
.left {
  background: url("https://images.unsplash.com/photo-1606144042614-b2417e99c4e3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
    no-repeat center / cover;
}

.right {
  background: url("https://images.unsplash.com/photo-1607853827120-6847830b38b0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1762&q=80")
    no-repeat center / cover;
}

/* Transparent Blue Overlay */
.left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.4); /* Transparent blue */
}

.right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  rgba(43, 43, 43, 0.8);

}


/* Expand left when hovered */
.left:hover {
  flex: 1.8; /* Expands left */
}
.right:hover {
  flex: 1.8; /* Expands right */
}
