

*{
  box-sizing:border-box;
}

body{
  display:flex;
  color:white;
  justify-content:center;
  align-items:center;
  height: 100vh;
  overflow: hidden;
  font-family: "Muli", sans-serif;
  background-color: steelblue;
}

.container{
  /* border: 2px solid red; */
  height:70vh;
  width:25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:30px;
  /* justify-content: center; */
  background-color: rgba(0, 0, 0, 0.4);
}

form{
  display: flex;
  flex-direction: column;
  gap: 50px;

 
}

.form-control{
  font-size: 20px;
  font-family: bold; display: flex;
 flex-direction: column;
 border-bottom: 2px #fff solid;
 width: 100%;
}
.form-control input{
  border: 0;
  color: #fff;
  padding: 15px 0;
  font-size: 18px;
  background-color: transparent;
}

.email-label {
  position: absolute;
  top: 240px;
  pointer-events: none;
  transition: top 1s ease-in-out, color 1s ease-in-out;


}


.password-label{
  position: absolute;
  top: 340px;
  pointer-events: none;
  transition: top 1s ease-in-out, color 1s ease-in-out;


}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}
a{
  color : lightblue;
  text-decoration: none;
}