

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: plum;
    font-family: 'Arial', sans-serif;
}
.container{
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 600px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h3{
    margin-top: 10px;
    font-size: 14px;
    color: gray;
}
#joke{
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    color: #333;
}
#jokeBtn{
    background-color: #4CAF50;
    position: absolute;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-top: 270px;
    cursor: pointer;
    border-radius: 5px;
}
